.account__information {
  background: url('../../assets/accountFon.png');
  width: 90%;
  height: 100%;
  padding: 20px 40px;
  margin: auto;
}

.account__name,
.account__email {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  margin: 15px;
}

.stat__graph {
  padding: 50px;
}